.wrapper {
  width: 200px;
  display: block;
  margin: 100px auto;
}
.search {
  width: 100%;
  padding: 5px;
  background-color: rgb(241, 241, 197);
  outline: none;
  border: 1px solid grey;
}
.search:focus {
  outline: none;
}
.users__card {
  border: 1px solid grey;
  margin-bottom: 5px;
  padding: 10px;
}
.users__card p {
  margin-bottom: 2px;
}
.users__name {
    font-weight: 500;
}
.users__email {
    font-style: italic;
}
.users__phone {
    font-size: 13px;
}

.selected-user {
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}
.hide-block {
  display: none;
}

.selected-user p {
  margin-bottom: 0;
}
.selected-user__header{
  font-weight: 600;
  margin-bottom: 10px;
  font-style: italic;
  text-decoration: underline;
}
.selected-user__name {
}
.selected-user__phone {
}
.selected-user__email {
}

